@media (min-width:350px) {
    
    .maindiv3{
        margin-left: 10px;
        margin-right: 10px;
    }

}
@media (min-width:250px){
    
    .maindiv3{
        margin-left: 20px;
        margin-right: 20px;
    }

}

.parent{
    overflow: hidden;
  }
  
  .child{
     
    transition: all 1.1s;
  }
  
   .parent:hover .child{
    transform: scale(1.1);
    cursor: pointer;
   }

   .title{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    align-items: center;
    gap: 10px;
}
.title::before, .title::after{
    content:"";
    height: 2px;
    background-color: cyan;
    display: block;
}