.title{
    display: grid;
    grid-template-columns: repeat(1 ,1fr);
    align-items: center;
    gap: 10px;
}
.title::before, .title::after{
    content:"";
    height: 2px;
    background-color: cyan;
    display: block;
}

.read-btn {
    transition: 0.5s;
}
.read-btn:hover {
  background-color: #fff;
  color: #000000;
}