.icon {
   color: #06BBCC;
   transition: color 0.3s; /* Add a smooth transition effect */
   margin-top: 20px;
}

.maindiv{
   width: 247px;
   height: 230px;
  background-color: rgb(237, 254, 255);
  transition: 1s ease all;
}

.maindiv:hover{
   .icon{
      color: aliceblue;
   };

}
.des{
   width: 90%;
   margin-left: 10px;
   font-size: 14px;
  
}
 .desmain{
   width: 100%;
   text-align: center;
 }
.maindiv:hover{
   background-color: #06BBCC;
   color: white !important; 
   transition: 1s;
   transform: translate(0, -10px);
 -webkit-transition: all .5s ease;
 
}